.catalogContent {
  flex-direction: column;
  align-items: stretch;
}

.layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
}

.filters {
  display: block;
  flex: 0 0 23%;
}

.container {
  width: 72%;
  align-items: stretch;
}

.search {
  max-width: 620px;
}

.products {
  width: 100%;
}

.cardLink {
  display: block;
  height: 100%;
}

.cardLink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.cardLink .priceValue {
  font-size: calc(20vw / 14.4);
}

@media screen and (max-width: 767px) {
  .layout {
    flex-direction: column;
    gap: 2rem;
    margin-top: 0;
  }

  .filters {
    width: 100%;
    flex-basis: auto;
    margin-bottom: 2rem;
  }

  .container {
    width: 100%;
    gap: 2rem;
  }

  .products {
    width: 100%;
    justify-content: center;
  }

  .cardLink .priceValue {
    font-size: calc(20vw / 3.9);
  }
}
